* {
	/* margin: 0;
	padding: 0; */
	font-family: "Courier New", Courier, monospace;
}
.main {
	/* margin: 0 auto;
	width: 50%; */
	display: flex;
	padding: 4rem;
	/* margin: 4rem; */
}
img {
	width: 75%;
	border-radius: 1rem;
	max-width: 350px;
	min-width: 150px;
	/* padding-top: 1rem; */
	margin-right: 0.5rem;
	/* height: 35%; */
}
h4 {
	margin-top: 1rem;
	border-bottom: 1px dotted #000;
}
pre {
	background-color: lightgrey;
	border-radius: 1rem;
}
hr {
	font-variant: ;
}
span {
	background-color: #faea68;
}
body > div > div:nth-child(1) {
	padding-top: 1rem;
}
